<script setup lang="ts">
import FirstComponent from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";
import { ref } from "vue";
const num = ref(0);

function inc() {
  num.value++;
}

function dec() {
  if (num.value > 0) {
    num.value--;
  }
}
</script>

<template>
  <br><br>
  <v-container>
 <v-row >
      <v-col> <FirstComponent /> {{ num }}</v-col>
      <v-col> <SecondComponent /> {{ num * 2 }}</v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-btn @click="inc"> INCREMENT </v-btn>
      </v-col>
      <v-col>
        <v-btn @click="dec"> DECREASE </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped></style>
