<script setup lang="ts">
import { ref } from "vue";
const forImg = ref("./feeling_imgs/smile.png");
const formsg = ref("Smile");

function angry() {
  formsg.value = "Angry";
  forImg.value = "./feeling_imgs/angry.png";
}

function cute() {
  formsg.value = "Cute";
  forImg.value = "./feeling_imgs/cute.png";
}

function excited() {
  formsg.value = "Excited";
  forImg.value = "./feeling_imgs/excited.png";
}

function pain() {
  formsg.value = "Pain";
  forImg.value = "./feeling_imgs/pain.png";
}

function shocked() {
  formsg.value = "Shocked";
  forImg.value = "./feeling_imgs/shocked.png";
}

function smile() {
  formsg.value = "Smile";
  forImg.value = "./feeling_imgs/smile.png";
}

</script>

<template>
  <br><br><br>
  <v-container>
    <v-row>
      <v-col>
        <v-img :src="forImg" class="img"></v-img>
      </v-col>
      <!------------------------------------------------------------------------------------------------------------------->
      <v-col>
        <v-row justify="center" style="font-size: 300%"> {{ formsg }} </v-row>
      <!------------------------------------------------------------------------------------------------------------------->
      <v-row>
          <v-btn class="button" @click="angry">Angry</v-btn>
        </v-row>
      <!------------------------------------------------------------------------------------------------------------------->
      <v-row>
          <v-btn class="button" @click="cute">Cute</v-btn>
        </v-row>
      <!------------------------------------------------------------------------------------------------------------------->
      <v-row>
          <v-btn class="button" @click="excited">Excited</v-btn>
        </v-row>
      <!------------------------------------------------------------------------------------------------------------------->
      <v-row>
          <v-btn class="button" @click="pain">Pain</v-btn>
        </v-row>
      <!------------------------------------------------------------------------------------------------------------------->
      <v-row>
          <v-btn class="button" @click="shocked">Shocked</v-btn>
        </v-row>
      <!------------------------------------------------------------------------------------------------------------------->
      <v-row>
          <v-btn class="button" @click="smile">Smile</v-btn>
        </v-row>
      <!------------------------------------------------------------------------------------------------------------------->
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
.button {
  margin-bottom: 20px;
  width: 100%;
}
.button:focus {
  background-color: yellow;
  margin-bottom: 20px;
  width: 100%;
}
.img {
  width: 500px;
}

</style>